*,
html {
    padding: 0;
    margin: 0;
}

.container {
    
}

.container-navbar {
    background-color: #293241;
    width: 100%;
    height: 15vh;
  }

.ul-navbar {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style: none;
    padding: 20px;
    margin: 5px;
    color: #e0fbfc;
    font-size: 30px;

}

.li-navbar:hover {
    background-color: #3d5a80;
    transition: .5s ease-in-out;
    transition-delay: 2ms;
    border-radius: 8px;
}

.a-navbar {
    color:#e0fbfc;
    text-decoration: none;
}

.container-content {
    background-color: #3d5a80;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.a-content {
    width: 500px;
    height: 500px;
    display: flex;
    background-color: #e0fbfc;
    justify-content: center;
    font-size: 30;
    text-decoration: none;
    flex-direction:column-reverse;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 30px;
    font-size: 20px;
    color:#3d5a80;
}

.b-content {
    width: 500px;
    height: 500px;
    display: inline-flex;
    background-color: #e0fbfc;
    justify-content: right;
    font-size: 30;
    text-decoration: none;
    flex-direction:column;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 30px;
    font-size: 20px;
    color:#3d5a80;
}

.ab-content {
    width: 500px;
    height: 500px;
    display: flex;
    background-color: #e0fbfc;
    justify-content: center;
    font-size: 30;
    text-decoration: none;
    flex-direction: row-reverse;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 30px;
    font-size: 20px;
    color:#3d5a80;
}
.img-content {
    width: 50%;
    height: 50%;
}

.img2-content {
    width: 750px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img3-content {
    width: 350px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img4-content {
    width: 374px;
    height: 489px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-footer {
    height: 10vh;
    background-color: #3d5a80;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 35px;
    color:#e0fbfc;

}